
body{

    font-family: 'Patrick Hand', cursive;
    background-image: linear-gradient(to right top, #111418, #131a1d, #152020, #1c2620, #272a20);
    /* background: #000000;  
background: -webkit-linear-gradient(to right, #0f9b0f, #000000);  
background: linear-gradient(to right, #0f9b0f, #000000);  */

}
h1{
    text-align: center;
    font-size: 3rem;
    color: white;
    text-shadow: 10px 10px 20px #0f9b0f;
}
/* description section */
#content{

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    gap: 2rem;
    width: 85%;
    margin-left: 40px;
    
    

    justify-content: center;
    justify-items: center;
    align-content: space-around;
    align-items: center;

}
/* Each description block */
#content div{
    width: 300px;
    height: 300px;

    display: block;
    text-align: center;
    align-items: center;
    border-radius: 40px;
    box-shadow: 5px 10px 10px white;
    color: white;
    background-image: linear-gradient(to right top, #111418, #131a1d, #152020, #1c2620, #272a20);

}
#content div:hover{
    box-shadow: 10px 10px 20px #0f9b0f;
}
#content div h2{
    color: #0f9b0f;
}

li{

    list-style-type: none;
    text-align: start;
    color: white;
    font-size: 2rem;
    padding-right: 100px;
}
a:hover{
    color: white;
}
i:hover{
    color: #0f9b0f;
}

a{
    text-decoration: none;
    color: #0f9b0f;
}
